{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block contenu %}
    <h1>INSCRIPTION</h1>
<div class="offset-5 col-6">
    {{ form_start(registrationForm) }}
    <div class="col-4">
        {{ form_widget(registrationForm)}}
    </div>

    <button type="submit" class="btn btn-dark">Register</button>
    {{ form_end(registrationForm) }}</div>
{% endblock %}
