{% extends 'base.html.twig' %}

{% block contenu %}

<div id="form" class="offset-4 col-6">
    <h3>Modifier mon profil</h3>
    {{ form_start(modifform) }}
    <div class="col-4">
    {{ form_widget(modifform) }}
    </div>
    <button type="submit" class="btn btn-dark">Enregistrer</button>
    <a type="submit" class="btn btn-dark" href="{{ path('main_home') }}">Annuler</a>

    {{ form_end(modifform) }}
    </div>



{% endblock %}

