{% extends 'base.html.twig' %}

{% block contenu %}
    <div id="form" class="offset-4 col-6">
    <h3>Modification du Mot De Passe</h3>
    {{ form_start(mdpform) }}
        <div class="col-4">
    {{ form_widget(mdpform) }}
        </div>
    <button type="submit" class="btn btn-dark" >Enregistrer</button>

    {{  form_end(mdpform) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

