{% extends "base.html.twig" %}

{% block contenu %}

    <div class="offset-4 col-8">
        <div class="offset-1 col-4">
        <h1>Nouvelle sortie</h1>
        {{ form_start(formulaireSortie)}}

            {{ form_widget(formulaireSortie)}}
            <button type="submit" class="btn btn-dark">Enregistrer</button>
            <button type="submit" class="btn btn-dark">Publier la sortie</button>
            <button type="reset" class="btn btn-dark">Annuler</button>
        {{ form_end(formulaireSortie)}}
        </div>
    </div>

{% endblock %}