{% extends "base.html.twig" %}

{% block contenu %}
    <h1>Nouvelle sortie</h1>
    <div class="offset-3 col-6">
        {{ form_start(formulaireSortie)}}
        <div class="offset-1 col-4">
            {{ form_widget(formulaireSortie)}}
        </div>
        <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(formulaireSortie)}}
    </div>

{% endblock %}