{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container">
            <div class="row">
                    <div class="offset-3 col-6">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>Nom de la sortie</td>
                                    <td>Date de la sortie</td>
                                    <td>Clôture</td>
                                    <td>inscrits/places</td>
                                    <td>Etat</td>
                                    <td>Inscrit</td>
                                    <td>Organisateur</td>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                    <tbody id="myTbody">

                                    </tbody>
                            </table>
                    </div>
            </div>
    </div>
        <template id="ligne">
                <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
        </template>


        <script src="">

        </script>
{% endblock %}

