{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container">
        <div>
            <select name="campus" id="campus" onchange="filtrer()">
                <option value="0">Filtrer par campus</option>
                {% for chaqueCampus in listCampus %}
                    <option value="{{ chaqueCampus.id }}">{{ chaqueCampus.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            Le nom de la sortie contient : <input type="text" class="form-control" id="nom" placeholder="Rechercher" onkeyup="filtrer()">
        </div>
    </div>
    <div class="container">
            <div class="row">
                    <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-2">Nom de la sortie</th>
                                    <th class="col-2">Date de la sortie</th>
                                    <th>Clôture</th>
                                    <th>inscrits/places</th>
                                    <th>Etat</th>
                                   <!-- <th>Inscrit</th> -->
                                    <th>Organisateur</th>
                                    <th class="col-4">Action</th>
                                </tr>
                                </thead>
                                    <tbody id="myTbody">

                                    </tbody>
                            </table>
                    </div>
            </div>
    </div>
        <template id="ligne">
                <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>
                            <a  href="" id="btnSinscrire" class=" col-4 btn btn-light">S'inscrire</a>
                            <a  href="" id="btnSedesister" class="col-4 btn btn-light">Se Désister</a>
                            <a  href="" id="btnModifierSortie" class=" col-4 btn btn-light">Modifier</a>
                            <a  href="" id="btnAfficher" class=" col-4 btn btn-light">Afficher</a>

                        </td>

                </tr>
        </template>

    <script>let myUser = {{ app.user.id }}</script>
    <script src="{{ asset('js/listSorties.js') }}"></script>
{% endblock %}

