{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container">
            <div class="row">
                    <div class="offset-3 col-6">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nom de la sortie</th>
                                    <th>Date de la sortie</th>
                                    <th>Clôture</th>
                                    <th>inscrits/places</th>
                                    <th>Etat</th>
                                   <!-- <td>Inscrit</td> -->
                                    <th>Organisateur</th>
                                    <!--<td>Action</td> -->
                                </tr>
                                </thead>
                                    <tbody id="myTbody">

                                    </tbody>
                            </table>
                    </div>
            </div>
    </div>
        <template id="ligne">
                <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                </tr>
        </template>


        <script src="{{ asset('js/listSorties.js') }}">

        </script>
{% endblock %}

