{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="text-center list-unstyled">

{% for sortie in listSorties %}
            <li><a href="{{ path('sortie_sortieDetail', {'sortie': sortie.id}) }}">{{ sortie.nom }}</a></li>
    {% endfor %}

        <script src="{{ asset('js/listSorties.js') }}">

        </script>

    </div>
{% endblock %}

