{% extends "base.html.twig" %}
{% block contenu %}
    <div id="formulaireModifierSortie" class="offset-4 col-6">
        <h2>Modifier la sortie</h2>
        {{ form_start(formulaireModifierSortie) }}
        <div class="col-4">
        {{ form_widget(formulaireModifierSortie) }}
        </div>
        <button type="submit" class="btn btn-dark">Modifier</button>
        {{ form_end(formulaireModifierSortie) }}
    </div>
{% endblock %}